.create-modal {
    width: 400px;
    height: 150px;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    background-color: lightblue;
    margin:10px auto;
    padding: 10px;
    position: relative;
}

.create-modal h2 {
    color: white;
    font-size: 30px;
    margin-top: 5px;
}

.create-modal .button {
    position: absolute;
    bottom: 30px;
    right: 50px;
}

.create-modal .button button {
    border: none;
    padding: 10px 20px;
    border-radius: 14px;
}

.create-modal .button button:hover {
    cursor: pointer;
}